application/*.php
!application/example.php
!resource/cache/css/.gitignore
!resource/cache/js/.gitignore
!resource/cache/tmpl/.gitignore
!resource/cache/.gitignore
!resource/database/.gitignore
!resource/views/.gitignore
!resource/session/.gitignore
!resource/poll/.gitignore
!resource/logs/.gitignore
!resource/database/.gitignore
public/css/min/*.css
public/css/*.css
public/css/*.less
public/js/min/*.js
public/js/*.js
public/uploads/*
public/SarahJS/*
.DS_Store
*.log
.gitmodules
