application/*
resource/cache/css/*
resource/cache/js/*
resource/cache/tmpl/*
resource/cache/.mincache
resource/database/*
resource/views/*
resource/session/*
resource/poll/*
resource/logs/*
resource/database/*
public/css/min/*.css
public/css/*.css
public/css/*.less
public/js/min/*.js
public/js/*.js
public/uploads/*
.DS_Store
*.log
